.DS_Store
.idea
*.csv
data/
hg19.2bit
__pycache__/
*.align
*.gz
*.md5
*.hdf5
train_coord
test_coord
valid_coord
coord
*.mat
*.fasta

gkm_fasta
fasta_data/
hg19_*
*.coord
*.narrowPeak
temp4.py
*.fa
*.mult_species
wgEncode*
